ul.menu
{
list-style-type:none;
margin:0;
padding:0;
}d
a.menu:link,a.menu:visited
{
display:block;
font-weight:bold;
color:#FFFFFF;
background-color:#FFCCCC;
width:120px;
text-align:center;
padding:5px;
text-decoration:none;
text-transform:uppercase;
}
a.menu:hover,a.menu:active
{
background-color:#FFCCCC;
}
div.menu
{
    float: left;
    width: 200px;
    height: 100%;
    background-color:#FFCCCC;
}
body
{
    background-color: #FFCCCC;
}